{% assign username = include.username %}
{% unless username %}
{% assign username = site.codepen_username %}
{% endunless %}
<p class="codepen" data-width="700" data-height="700" data-theme-id="dark" data-default-tab="js,result" data-user="fbaczakw" data-slug-hash="OJRdepN" style="width:500px; height: 500px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="OJRdepN">
  <span>See the Pen <a href="https://codepen.io/fbaczakw/pen/OJRdepN">
  OJRdepN</a> by 김서영 (<a href="https://codepen.io/fbaczakw">@fbaczakw</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>